*
{
    margin: 0;
    padding: 0;
}
.container
{
    display:grid;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template:1fr 1fr /1fr 1fr;
    
    border: 4px solid black;

}

.quadrant1
{
    grid-row:1/2;
    grid-column:1/2;
    background-color:white;
}
.quadrant2
{
    grid-row:1/2;
    grid-column:2/3;
    background-color:white;
}

.quadrant3
{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color:white;
}

.quadrant4 
{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: white;
}
